@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
}

/* utli classes */

/* Imgine control */
.userCircle {
    border: groove grey;
    border-radius: 50%;
    height: inherit;
    margin-left: 30px;
    margin-top: 50px;
}

.pin {
    width: 20px;
    margin: 10px;
    margin-left: 30px;
}

.gear {
    width: 20px;
}

.miniUser {
    width: 50px;

}


/* Navbar */
.navBar {
    display: flex;
    width: auto;
    background-color: black;
    color: azure;
    align-items: center;
    gap: 3px;
}

h1 {
    margin-left: 100px;
    margin-right: 50px;
}

.navLink {
    width: 400px;
    justify-content: space-between;
}

.signOutSpace {
    /*this div made so button can auto shift to the right when browser is minimized  */
    margin-left: auto;
    margin-right: 50px;
}

.signOutbtn {
    color: white;
    width: 100px;
    background-color: rgb(90,91,109);
    border-radius: 5px;
    padding: 10px;
}


/* EverythingBox  */
.everythingBox {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}

.col1 {
    margin: 50px;
    width: 600px;
}

.col2 {
    margin: 50px;
    width: 260px;
}


/* Profile card */
.profileCard {
    border: 3px solid grey;
    border-radius: 5px;
    justify-items: center;
    background-color: rgb(255,255,255);
    margin-bottom: 50px;
    width: 600px;
}

.topBanner {
    height: 100px;
    background-color: rgb(251,47,56);
}

.userName {
    margin-left: 30px;
    font-size: 40px;
}

.infoBox {
    margin-top: 60px;
}

.location {
    display: flex;
    align-items: center;
    font-size: larger;
}

.title {
    margin: 5px;
    margin-left: 30px;
}

ul {
    list-style: none;
    display: flex;
    width: 600px;
    height: 25px;
    margin-left: 25px;
}

li {
    padding: 5px;
    border-right: 2px solid black;
}

.edit {
    margin: 2px;
    margin-left: 30px;
    margin-bottom: 15px;
}


/* Education Card */
.education {
    width: 600px;
    border: 3px solid grey;
    border-radius: 5px;
    background-color: aliceblue;


}

.eduBanner {
    background-color: rgb(44,82,179);
    color: white;
    font-size: 30px;
    padding: 20px;

}

.bannerText {
    font-size: 30px;
}


.eduText {
    margin-left: 30px;
    font-size: 25px;
}

#eduText-Grey {
    color: grey;
}


/* friend Request*/
.conRequest {
    border: 3px solid grey;
    margin-bottom: 50px;
    width: 260px;

}

.conRequestBanner {
    display: flex;
    width: 250px;
    background-color: rgb(90,91,109);
    color: white;
    height: 50px;
    padding-left: 10px;
    align-items: center;
}

.conRequestCount {
    background-color: grey;
    padding: 5px;
    border-radius: 30%;
    margin-right: 5px;
}

.requestNamePhoto {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.friend {
    display: flex;
    align-items: center;
}

.buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 10px;
}

.accept {
    border-color: goldenrod;
    background-color: rgb(255,248,103);
    color: black;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 3px 5px 2px black;
}

.reject {
    border-color: silver;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 3px 5px 2px black;
}


/* Your Connections*/
.yourCon {
    width: 310px;
    border: 3px solid gray;
    border-radius: 5px;
    width: 260px;
}

.friendCount {
    height: 10px;
    width: 40px;
    padding: 5px;
    align-items: center;
    background-color: grey;
    padding-bottom: 10px;
    border-radius: 50px;
    margin-right: 5px;
}

.yourConBanner {
    display: flex;
    width: 250px;
    background-color: rgb(90,91,109);
    color: white;
    height: 50px;
    align-items: center;
    padding-left: 10px;
}

.youConInfo {
    align-items: center;
}